In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import yaml
from yaml.loader import SafeLoader
from urllib.request import urlretrieve

Die 5 Insel sind folgendes
- Batanes
- Bohol
- Catanduanes
- Marinduque
- Tawi-Tawi

In [48]:
turbine_df = pd.read_csv('turbine.csv').rename(columns={'Unnamed: 0':'turbine'}).set_index('turbine')

turbine_typ = ['WES250','Vestas_V25_200kW','VesV20','En18','JI20kW']
island = ["Batanes","Bohol","Catanduanes","Marinduque","Tawi-Tawi"]

power_df = pd.DataFrame(columns=island,index=turbine_typ)

for t in power_df.index:
    turbine = turbine_df.loc[t]
    for r in power_df.columns:
        hub_height = round(float(turbine['HUB_HEIGHT']))
        while True:
            try:
                wind_df = pd.read_csv(f"wind_histogram/wind_hist_{hub_height}_m.csv").rename(columns={'Unnamed: 0':'region'}).set_index('region')
            except FileNotFoundError:
                hub_height = turbine['HUB_HEIGHT']
                continue
            break
        wind = wind_df.loc[r]
        power_df.loc[t,r] = sum(turbine.loc[str(n)]*wind.loc[str(n)] for n in range(len(wind)))

In [51]:
power_df.to_csv('energieertrag_MWh_a.csv')
power_df

                    Batanes     Bohol Catanduanes Marinduque Tawi-Tawi
WES250             897.5387   85.7114    270.4054   153.5168   72.3965
Vestas_V25_200kW   708.2121   66.2183    210.5584   118.3982   54.9161
VesV20              364.469    27.501     107.714     58.803    23.199
En18              332.01986  41.55832   113.98824   66.84133  36.14985
JI20kW              44.4295    1.4045       8.264     3.8295     1.364